carla:
  server_path: /opt/carla/CarlaUE4.sh
  server_port: 2000
  quality: Epic

platform:
  port: 8088
  env: production
  data_directory: ./.scarline-runtime

database:
  password: scarline

rabbitmq:
  user: scarline
  password: scarline

overlay:
  transparent_enabled: true
  target_display: 0

features:
  mock_simulator_enabled: true
  io_client_enabled: true
